html{
  font-size: 70.5%;
  box-sizing: border-box;
}

body{
  margin:0;
  height: 100vh;
  font-size: 2rem;
  font-family:comfortaa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #840000;
  
  color:whitesmoke;
}
#root {
  height: 100%;
}
/* layout */

.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #c60000;
 /* box-shadow: 10px 10px 60px #ff9914; */
 
 

}
.contact{
  font-size: 0.7rem;
}
.badge{
  color:#ffffff;
  background-color: red;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  font-family: comfortaa;
}
main {
  grid-area: main;
  padding: 1rem
}
footer {
  
  grid-area: footer;
  background-color: #c60000;
  color: #f1b534;
  /* font-size: 1.9rem; */
  
}
.bottom{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
.facebook{
  padding-bottom: 2rem;
height: 40px;}
/* common */
/* h1{
  font-size: 1.8rem;
  padding: 1rem 0;
} */
h2{
  font-size: 2.5rem;
  padding: 1rem 0;
  color:#f1b534;
}

.popcorn{
  border-radius: 40px;
  height: 60px;
  width: 60px;
  animation: jump-shaking 0.83s infinite;
 
}
.ksale{
  height: 30px;
  width: 30px;
}
a{
  text-decoration: none;
  color: #f3b61f;
 
}
ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}

header a {
  padding: 1rem;
}
.brand{
  color:#f1b534;
  font-size: 2.5rem;
  font-weight: bold;
 
}
.red{
  color:red;
  font-size: 30px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex: 1 1 25rem;
  margin: 2rem;
}
.col-2{
  flex: 2 1 50rem;
}
.min-width {
  min-width: 30rem;
}
.rainbow-4:hover{
  background-image:     linear-gradient(
     to right, 
     orange,
    lightblue, 
     #edbf85,
    lime,
     #ffb140,
     #ddfc74
   );
 animation:slidebg 2s linear infinite;
 border-radius: 30px;
 font-size: 2rem;
 color: #111;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
.button-85.block{
  width:100%
}
.follow{
  margin-top: 40px;
}

.follow a{
  color: whitesmoke;
  padding: 8px 16px;
  text-decoration: none;
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }
}
img{
  border-radius: 0.5rem;
}
img.flowers{
  max-width: 70rem;
  width: 100%;
  height:20rem;
}
img.cardsize{
  max-width: 30rem;
  width:100%;
  height: 20rem;
}
img.small{
  max-width: 7rem;
  width: 100%;
}
img.medium {
  max-width:29rem;
  width:100%;
  
}
/* card */
.card{
  
  border:.1rem #c0c0c0 solid;
  background-color: #934b00;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 60px #f1b534;
  margin: 2rem;
  
  
}
.card-body{
  padding: 1rem;

}
.fix{
  background-color: whitesmoke;
  border: 40px 10px  grey;
  color: #111;
  border-radius: 20px;
  margin-top: 20px;
}
.card-body > * {
  margin-bottom: 0.5rem;
  color: whitesmoke;
  
  
}
.detail{
  font-size: 2rem;
}
/* rating */
.rating span {
  color:#f0c040;
  margin:0.1rem;
}
/* welcome/homepage/signIn */

.home-popcorn{
  height: 20rem;
  width: 20rem;
  border-radius:30rem;
  padding: 3rem;
  /* animation-name: spin; */
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-name: flip_animation;
    /* animation-duration: 1s; */
    margin-top: 12rem;
 
}
.home-card{
  color: whitesmoke;
  font-size: 1.8rem;
 flex-direction: column;
  /* border-radius: 2rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:3rem;
  /* border:0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 60px #f1b534;
   */
}

/* .line {
  padding: 5rem;
  width:1rem;
  height:30rem;
  background: linear-gradient(to right, 
                              transparent 0%, 
                              transparent calc(50% - 0.81px), 
                              #f1b534 calc(50% - 0.8px), 
                              #f1b534 calc(50% + 0.8px), 
                              transparent calc(50% + 0.81px), 
                              transparent 100%);
                               
} */

@keyframes flip_animation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}




/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.del,select, textarea,input {
  padding: 0.6em 1em;
  border: none;
  font-family: comfortaa;
  outline: none;
  color: rgb(250, 196, 59);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.raw{
  padding: 20px;
}
.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 20rem;
}
/* about */
.golden{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:1rem;
  font-size: 3rem;
}

.about{
  font-size: 2rem;
}
/* alert */
.success{
  color: #20a020;
}
.danger{
  color: #a02020;
}
.alert{
  padding : 1 rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert.info{
  color:#2020a0;
  background-color: #ffe0e0e0;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
img.large{
  width: 80%;
  margin: 2rem;
}


.first {
  color: whitesmoke;
  font-family: Alegreya Sans SC;
  /* border: 1rem #690500;
  background-color: #690500; */
  /* height: 22rem; */
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
} 

.goldenrule{
  margin-top: 1rem;
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

.message{
  font-size: 1.9rem;
}
.lead{
  font-size: 2rem;
}
.bob{
  font-size: 1.9rem;
}
.drama{
  font-size: 2rem;
}
.bub{
  padding:5px;
  
}
.ban {
  
  display: flex; 
  flex-direction: row;
  align-items: center;
   justify-content: center;
}
.mainban{
  width: 400px;
  height: 400px
}
.secondban{
/* background-color: rgba(255,186,8,.2); */
padding: 10px;
 
 border-radius: .5rem;
 font-family: chewy;
 color: #9d4edd;
 font-size: 3rem;
 .custyIndent{
  padding-left: 15px
 }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
	.ban {
    
    display: flex; 
    flex-direction: row;
    align-items: center;
     justify-content: center;
     .mainban{
      width: 400px;
      height:400px
    }
  }
 
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
	and (max-device-width: 1024px) {
    .ban {

      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 400px;
        height:400px
      }
    }
    
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 390px)
	and ( orientation: portrait) {
    .ban {
      
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 200px;
        height:200px
      }
    }
   
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
	and (orientation: landscape) {
    .ban {
      
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 200px;
        height:200px
      }
    }
    
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
	and (max-device-width: 640px) {
    .ban {
      
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 200px;
        height:200px
      }
    }
    
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
    .ban {
      
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 300px;
        height:300px
      }
    }
   
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
	and (device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
    .ban {
     
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 300px;
        height:300px
      }
    }
    
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
	and (min-device-width: 375px)
	and (-webkit-min-device-pixel-ratio: 3) {
    .ban {
      
      display: flex; 
      flex-direction: row;
      align-items: center;
       justify-content: center;
       .mainban{
        width: 200px;
        height:200px
      }
      
    }
    

.saying{
  
  padding-left: 20px;
}}
.fourthban {
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .pic{
    width: 47%;
    height: 80%;
  }
.cornn{
  width: 47%;
  height: 80%;
}

}
.cornn{
  width:30%
}
.bet2{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: end;
  .picice{
   width: 30%;
  }
}
.fifthban{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  .www{
  
    width: 100%;
    height: 100%;;
  
  }
 
}
.done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
  .shop{
   margin-left: 90px;
    width:50%;
    height:50%;
    border-radius: 300px;
  }
}
.dec1{
  display: flex;
  flex-direction: row;
 align-items: start;
 justify-content: left;
 .a{
  height: 150px;
  width: 150px;
 }
}
.dec2{
  display: flex;
  flex-direction: row;
 align-items: end;
 justify-content: right;
 .b{
  height: 150px;
  width: 150px;
  
 }
}
.gng{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .video{
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
 
}
.back {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.b1ban{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .b1{
    width:100%;
    height: 100%
}
}
.fix{
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
@media (min-width: 1024px) {
  .fix {
    margin: 150px;
  }
  
}
.remove{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

;
